.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("../../Assests/Images/defaultImage.jpg") center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("../../Assests/Images/rooms.jpg");
  min-height: 60vh;
}
